{% extends 'base.html' %}

{% block content %}

    <style>
        img {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 300px;
        }
    </style>
    {% if request.user == car.owner %}
        <a href="{% url 'edit_car' car.pk %}">Edit</a>
        <a href="{% url 'delete_car' car.pk %}">Delete</a>
    {% endif %}
        <a href="{% url 'dashboard' %}">Homepage</a><br><br>


    <img src="{{ car.image.url }}"><br>
    <h1>{{ car.model }}</h1>
    <p>Company:{{ car.company }}</p>
    <p>Owner:{{ car.owner }}</p>
    <p>Milage:{{ car.milage }}</p>
    <p>Manufactured in:{{ car.year_manufactured }}</p>
    <p>Price:{{ car.price }}</p><br><hr>
    <h4>About</h4>
    <p>{{ car.about }}</p>
    <hr>
    <hr>
    <br>
    <a href="{% url 'add_comment' car.pk %}">Add comment</a>

    {% for comment in comments %}
        {% if request.user == comment.user %}
            <h5>{{ comment.user.username }}</h5>
            <a href="{% url 'edit_comment' comment.pk %}">Edit</a>
            <a href="{% url 'delete_comment' comment.pk %}">Delete</a>
            <p>{{ comment.comment }}</p>
        {% endif %}
    {% endfor %}
{% endblock content %}
